openapi: 3.0.0
servers:
  - url: https://apis.finan.me/v1
    description: Primary server
info:
  description: |
    # Giới thiệu
    Tài liệu mô tả các APIs phục vụ kết nối từ Ngân hàng đối tác đến SBH.

    # Tạo chữ ký số
    1. Đối tác tạo cặp chữ ký số (privatekey) và mã công khai (publickey)
    ```shell
    openssl genrsa -out private_key.pem
    openssl rsa -in private_key.pem -pubout -out public_key.pem 
    ```
    2. Đối tác lưu trữ privatekey để phục vụ ký số khi cần gửi dữ liệu cho SBH
    3. Đối tác gửi publickey cho SBH để đối chiếu trong quá trình nhận dữ liệu

    # Sử dụng chữ ký số (Digital signature)
    ![Sign request](/sign_request.png)

    ### 1. Chuẩn bị dữ liệu cần ký số theo định dạng như sau:
    ```text
    <HTTP-Method> <HTTP-URI>
    <Request-Id>.<Request-Time>.<Request-Body>
    ```
    - **HTTP-Method:** Phương thức HTTP (POST, GET)
    - **HTTP-URI:** Đường dẫn của API cần gọi
    - **Request-Id:** Mã đơn nhất cho mỗi request
    - **Request-Time:** The number of milliseconds between 1 January 1970 00:00:00 UTC and the request time
    - **Request-Body:** Nội dung của request

    ### 2. Ký số cho dữ liệu    
    ```javascript
    const crypto = require('crypto');

    const data = `POST /v1/notify-ekyc
    REQUEST_20220110001.1641816102370.{"txid":"1ea682c5-b786-480e-be1d-f0dff0eb5781","status":"success","result":{"fullname":"Nguyễn Văn A","phone":"0973333333","bankAccount":198120046903,"identityNumber":2696338,"email":"seller@example.com"}}`;

    const key = `<<MOCK_PRIVATE_KEY>>`;

    const sign = crypto.createSign('sha256');
    sign.write(data);
    sign.end();

    console.log(sign.sign(key, 'base64'));
    // CGLUx3RZFAu7qH/EBz5G/9fTKiB0fycPSctD2xf3/9Ofq3nCY720fQo4YjEl6j87fxhX7WCPIJu+7ENnTCantXJD9/TSmxOGzn/Sg4bnG0WDS4DPJ1vR5PS1BznhWwHMz5VTfMmh93mEaxlEgNJOSm8mPeOvqaBr1fpjNObK7DXJjAqm4CNq2QYS4vZ6PQqVyXoPoQbiKWSqp4PGV1p1/FyZbfHJAXx8zt1Yy32/m2g27d48RG2wmGINUm0HbKCbn/qQF+eyguHp1KxDYmqYa21UXLEm4Oa6z+5cdNqAD82yUh10lP0XxElC8TnfDpNABSuCzVjidqmE8Ist8d81vA==
    ```
    ### 3. Thêm thông tin chữ ký vào request header
    ```bash
    curl -X POST \
    https://www.example.com/ams/api/v1/payments/pay \
    -H 'Content-Type: application/json' \
    -H 'Request-Id: REQUEST_20220110001' \
    -H 'Request-Time: 1641816102370' \
    -H 'CGLUx3RZFAu7qH/EBz5G/9fTKiB0fycPSctD2xf3/9Ofq3nCY720fQo4YjEl6j87fxhX7WCPIJu+7ENnTCantXJD9/TSmxOGzn/Sg4bnG0WDS4DPJ1vR5PS1BznhWwHMz5VTfMmh93mEaxlEgNJOSm8mPeOvqaBr1fpjNObK7DXJjAqm4CNq2QYS4vZ6PQqVyXoPoQbiKWSqp4PGV1p1/FyZbfHJAXx8zt1Yy32/m2g27d48RG2wmGINUm0HbKCbn/qQF+eyguHp1KxDYmqYa21UXLEm4Oa6z+5cdNqAD82yUh10lP0XxElC8TnfDpNABSuCzVjidqmE8Ist8d81vA==' \
    -d '{"txid":"1ea682c5-b786-480e-be1d-f0dff0eb5781","status":"success","result":{"fullname":"Nguyễn Văn A","phone":"0973333333","bankAccount":198120046903,"identityNumber":2696338,"email":"seller@example.com"}}'
    ```

    # Bản ghi thay đổi (Changelogs)
    - **10/1/2021:** Tài liệu mô tả các APIs phục vụ kết nối từ Ngân hàng đối tác đến SBH.

  version: 1.0.0
  title: SoBanHang APIs
  termsOfService: 'http://swagger.io/terms/'
  x-logo:
    url: 'https://sobanhang.com/wp-content/uploads/2021/08/cropped-cropped-logo-website.png'
    altText: SoBanHang logo
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: ekyc-apis
    description: |
      Các api hỗ trợ chức năng eKyc.
  - name: payment-apis
    description: |
      Các api hỗ trợ chức năng thanh toán.
x-tagGroups:
  - name: Các APIs
    tags:
      - ekyc-apis
      - payment-apis
paths:
  /notify-ekyc:
    post:
      tags:
        - ekyc-apis
      summary: Notify eKyc result
      description: |
        [**Request body cần phải được ký số khi sử dụng**](/#section/Su-dung-chu-ky-so-(Digital-signature))

        Api thông báo khi seller hoàn tất quá trình eKyc từ hệ thống của đối tác.

        Được gửi từ hệ thống của đối tác khi seller hoàn tất quá trình eKyc.

      operationId: notify-ekyc
      responses:
        '200':
          description: Success
        '400':
          description:
            - INVALID_SIGNATURE
      requestBody:
        $ref: '#/components/requestBodies/NotifyEkyc'

  /notify-payment:
    post:
      tags:
        - payment-apis
      summary: Notify payment
      description: |
        [**Request body cần phải được ký số khi sử dụng**](/#section/Su-dung-chu-ky-so-(Digital-signature))

        Api thông báo khi giao dịch được thực hiện trên tài khoản seller.

        Được gửi từ ngân hàng đối tác khi seller thực hiện lệnh chuyển tiền hoặc nhận tiền.

      operationId: notify-ekyc
      responses:
        '200':
          description: Success
        '400':
          description:
            - INVALID_SIGNATURE
      requestBody:
        $ref: '#/components/requestBodies/NotifyPayment'

components:
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string

    EkycResult:
      description: Kết quả eKyc
      allOf:
        - type: object
          properties:
            fullname:
              description: Họ và tên người thực hiện ekyc
              $ref: '#/components/schemas/HumanName'
            phone:
              description: Số điện thoại của người thực hiện ekyc
              $ref: '#/components/schemas/Phone'
            bankAccount:
              description: Tài khoản vừa mới được cấp của người thực hiện ekyc
              $ref: '#/components/schemas/BankAccount'
            identityNumber:
              description: Số CMND/CCCD của người thực hiện ekyc
              $ref: '#/components/schemas/IdCard'
            email:
              description: Thư điện tử của người thực hiện ekyc
              $ref: '#/components/schemas/Email'

    PaymentResult:
      description: Kết quả giao dịch
      type: object
      required:
        - txnId
        - debitAccount
        - creditAccount
        - amount
        - txnNote
      properties:
        txnId:
          type: string
          example: TX12345678
          description: Mã giao dịch
        debitAccountName:
          $ref: '#/components/schemas/HumanName'
          descriptioin: Tên tải khoản trích nợ
        debitAccount:
          $ref: '#/components/schemas/BankAccount'
          descriptioin: Tải khoản trích nợ
        creditAccountName:
          $ref: '#/components/schemas/HumanName'
          descriptioin: Tên tải khoản ghi có
        creditAccount:
          $ref: '#/components/schemas/BankAccount'
          example: '002704070000468'
          descriptioin: Tài khoản ghi có
        amount:
          type: number
          example: 120000000
          descriptioin: Tài khoản ghi có
        txnNote:
          type: string
          example: SBH20210110_001
    Id:
      type: string
      format: uuid

    Phone:
      type: string
      example: 0973333333

    HumanName:
      type: string
      example: Nguyễn Văn A

    Email:
      type: string
      example: seller@example.com

    IdCard:
      type: string
      example: '012222222'

    BankAccount:
      type: string
      example: '002704070000467'

  requestBodies:
    NotifyEkyc:
      content:
        application/json:
          schema:
            required:
              - txid
              - status
            properties:
              txid:
                description: Mã ekyc transaction gửi từ SBH
                allOf:
                  - $ref: '#/components/schemas/Id'
              status:
                type: string
                description: Kết quả ekyc
                enum:
                  - success
                  - rejected
                  - cancelled
                  - timeout
                  - error
              message:
                type: string
                description: Nguyên nhân từ chối hoặc nguyên nhân phát sinh lỗi
              result:
                description: Chi tiết Kết quả ekyc
                allOf:
                  - $ref: '#/components/schemas/EkycResult'
      description: Kết quả ekyc trả về từ ngân hàng đối tác.

    NotifyPayment:
      content:
        application/json:
          schema:
            required:
              - txid
              - status
            allOf:
              - $ref: '#/components/schemas/PaymentResult'
      description: Kết quả ekyc trả về từ ngân hàng đối tác.
